<article>
    <section id="header" class="hero-section">
        <a href="/" class="btn secondary-button">Πίσω</a>
        <h1 id="{{courses.id}}" class="category">Κατηγορία: {{courses.category}}</h1>
    </section>
    <section class="courses">
        {{#each courses.courses}}
            <article class="course">
                <img src="{{../courses.url}}/{{this.img}}" alt="{{this.title}}" />
                <h2 class="title">{{this.title}}</h2>
                <p class="description">{{this.description}}</p>
                <details class="goals">
                    <summary>Στόχοι</summary>
                    <p>{{this.objectives}}</p>
                </details>
            </article>
        {{/each}}
    </section>
</article>