<article class="profile">
    <section id="name">
        <h2>{{profile.info.name.first}} {{profile.info.name.last}}</h2>
    </section>
    <section id="personal">
        <h2>Προσωπικά Στοιχεία</h2>
        <div>
            <h3>Ηλικία: {{profile.info.age}}</h3>
            <h3>Εκπαίδευση: {{profile.info.education}}</h3>
            <h3>Username: {{profile.account.username}}</h3>
        </div>
    </section>
    <section id="contact">
        <h2>Στοιχεία Επικοινωνίας</h2>
        <address>
            <h3>Email: <a href="mailto:{{profile.info.email}}">{{profile.info.email}}</a></h3>
            <h3>Τηλέφωνο: <a href="tel:{{profile.info.phone}}">{{profile.info.phone}}</a></h3>
            <h3>Διεύθυνση:</h3>
            <section id="address">
                <h4>Χώρα: {{profile.address.country}}</h4>
                <h4>Νομός/Πολιτεία: {{profile.address.state}}</h4>
                <h4>Πόλη: {{profile.address.city}}</h4>
                <h4><abbr title="Ταχυδρομικός Κώδικας">Τ.Κ.:</abbr> {{profile.address.zip}}</h4>
                <h4>Οδός: {{profile.address.street}}</h4>
                <h4>Αριθμός Κατοικίας: {{profile.address.number}}</h4>
            </section>
        </address>
    </section>
</article>