<section class="courses">
    {{#each courses.courses}}
        <article class="course">
            <img src="{{../courses.url}}/{{this.img}}" alt="{{this.title}}" />
            <h2 class="title">{{this.title}}</h2>
            <h3 id="{{this.category}}" class="category">Κατηγορία: {{../courses.category}}</h3>
            <p class="description">{{this.description}}</p>
            <details class="goals">
                <summary>Στόχοι</summary>
                <p>{{this.objectives}}</p>
            </details>
        </article>
    {{/each}}
</section>
